* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.topnav {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background-image: url('neocities/assets/background.jpg');
  background-size: cover;
  padding: 10px;
  border-radius: 5px;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 4px;
}

.topnav a:hover {
  background-color: blue;
}

.topnav a.active {
  background-color: #25ba4d;
  color: white;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: relative;
  z-index: 1;
}

.page-header h1 {
  margin: 0;
  font-size: 21px;
}

body {
  color: white;
  font-family: Verdana;
  background: url('neocities/assets/background.jpg') no-repeat center center / cover;
  height: 100vh;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.143);
  z-index: 0;
  pointer-events: none;
}

body > * {
  position: relative;
  z-index: 1;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  text-align: left;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px);
  padding: 20px;
  position: relative;
  z-index: 1;
  text-align: left;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 0;
  pointer-events: none;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px);
  padding: 10px;
  position: relative;
  z-index: 1;
  text-align: left;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#jneko {
  position: absolute;
  top: 100%;
  left: 51%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

#jneko img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  filter: drop-shadow(0px 2px 12px #0007);
  width: 3em;
  height: 3em;

}
